body,
html {
    margin: 0;
    margin-top: -15px;
}

body {
    padding: 0;
}

.header-section {
    background-color: #222533;
}

.header-section-first-div>h3 {
    font-size: 30px;
    line-height: 19px;
    letter-spacing: 8.8px;
    font-weight: 400;
    word-spacing: 2px;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    text-align: center;
}

.header-section-first-div h3 span {
    color: #1ABC9C;
}

#text-colum {
    text-align: left;
    vertical-align: middle;
}

#text-colum h1 {
    font-size: 40px;
    line-height: 19px;
    letter-spacing: 0px;
    word-spacing: 0;
    font-weight: 900;
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
}

.header-section-first-div p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 36px;
    font-size: 30px;
    word-spacing: 0px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-align: center;
}

#CORE-FEATURES {
    border: 2px solid white;
    background: initial;
    border-radius: 2px;
    font-size: 18px;
    color: white;
    line-height: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

#PURCHASE-NOW {
    border: none;
    background: #1ABC9C;
    border-radius: 2px;
    font-size: 18px;
    color: white;
    line-height: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-left: 16px;
}

.radio-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-header input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 14px;
    height: 14px;
    padding: 3px;
    background-clip: content-box;
    background: #FFFFFF;
    border-radius: 50%;
    margin-left: 7px;
}

.radio-header input[type="radio"]:checked {
    background-color: #1ABC9C;
    width: 14px;
    height: 14px;
    border: 4px solid #FFFFFF;
    padding: 1px;
}

.navigation {
    display: flex;
}

.navigation-img-with-text {
    display: flex;
    justify-content: space-between;
}

.navigation-img-with-text p {
    font-size: 35.69px;
    font-family: 'Lato', sans-serif;
}

.navigation-img-with-text span {
    font-weight: 900;
}

.navigation nav ul {
    display: flex;
}

.navigation nav ul li {
    list-style: none;
    font-size: 15px;
    line-height: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #A1B1BC;
}

.navigation nav ul li:not(:last-child):after {
    content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
}


/* ......page3....... */

.page3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page3-first-div {
    width: 270px;
    height: 390.44px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 30px;
}

.tablet-icon {
    width: 60px;
    height: 60px;
    border: 1px solid #DBE7EF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: white;
}

.tablet-icon div {
    width: 50px;
    height: 50px;
    border: 1px solid #DBE7EF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.tablet-icon i {
    width: 16px;
    height: 18px;
    color: #A1B1BC;
}

.page3-first-div-text {
    width: 270px;
    height: 180px;
    border: 1px solid #DBE7EF;
    border-radius: 3px;
    margin-top: 30px;
    padding-top: 21px;
}

.page3-first-div-text p:first-child {
    font-size: 18px;
    line-height: 19px;
    color: #2C3E50;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

.page3-first-div-text div {
    width: 187.89px;
    height: 275.12px;
    margin-left: 15%;
    margin-top: -20px;
}

.page3-first-div-text div p:last-child {
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-align: center;
}


/* ....page4..... */

.page4 {
    display: flex;
}

.page4-left-div {
    width: auto;
    height: auto;
    transform: translate(374px, 113px);
}

.page4-header p {
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 19px;
    color: #2C3E50;
}

.page4-text-div {
    width: 570px;
    height: 205.97px;
    margin-top: -9px;
    margin-left: 1px;
}

.page4-text-div p {
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #A1B1BC;
}

#VIEW-MORE {
    width: 173.68px;
    height: 50px;
    border: 1px solid #E5E5E5;
    border-radius: 1px;
    background: initial;
    color: #34495E;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    line-height: 40px;
    margin-top: -11px;
}

.iPad {
    width: 543px;
    height: 275px;
    transform: translate(438px, 172px);
}


/* .....page5....... */

.page5 {
    background: #222533;
    transform: translate(0, 219px);
    padding-top: 54px;
}

.page5-circle-boxes {
    display: flex;
    transform: translate(375px, 25px);
}

.page5-header h4 {
    font-size: 36px;
    line-height: 20px;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

.page5-header p {
    color: white;
    font-size: 14px;
    line-height: 24px;
    word-spacing: 1.5px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    transform: translate(637px, -24px);
}

.page5-mrgvali-box1 {
    text-align: center;
}

.page5-text-under-circle p:first-child {
    font-size: 18px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
}

.page5-text-under-circle p:last-child {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
    margin-top: -13px;
}

.box2 {
    margin-left: 30px;
}

.box3 {
    margin-left: 29px;
}

.box4 {
    margin-left: 30px;
}

.page5-h4-under-circle {
    margin-top: 12.5px;
}


/* ......page6.... */

.page6 {
    transform: translate(0, 220px);
}

.page6-header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 0;
    margin-top: 4.1%;
    transform: translate(645px, -20px);
}

.page6-header h4 {
    font-size: 36px;
    line-height: 20px;
    color: #2C3E50;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.page6-header p {
    color: #2C3E50;
    font-size: 14px;
    line-height: 24px;
    word-spacing: 1.5px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    margin-top: -20px;
}

.page6-square-boxes {
    margin-top: 18px;
    display: flex;
}

.page6-square-box1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    border: 1px solid #ECF0F1;
    padding-left: -4px;
}

.page6-square-box1 img {
    position: absolute;
    transform: translate(-20px, 30px);
}

.page6-text-under-square-box p:first-child {
    font-size: 18px;
    line-height: 24px;
    color: #2C3E50;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    transform: translate(0px, 110px);
}

.page6-text-under-square-box p:last-child {
    font-size: 14px;
    line-height: 24px;
    color: #A1B1BC;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    transform: translate(0px, 107px);
}

.boqlomi {
    margin-left: -5.5px;
}

.gamadidebeli {
    margin-left: -8px;
}

.witeli-icon {
    margin-left: -8px;
}

.gamadidebliani-background {
    background: #F9FBFA;
}


/* .....page7..... */

.page7 {
    transform: translate(374.76px, 248px);
}

.page7-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.page7-header-text h5 {
    font-size: 36px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2C3E50;
    margin-top: 2px;
}

.page7-header-text p {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #A1B1BC;
    margin-top: -37px;
}

.page7-box-for-navigation {
    border: 1px solid #ECF0F1;
    border-radius: 1px;
    display: flex;
    transform: translate(0, 30px);
}

.page7-navigation nav ul {
    display: flex;
    width: 910px;
    height: 19px;
    text-align: center;
    margin-left: -40px;
}

.page7-navigation nav ul li {
    list-style: none;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-top: 1px;
    color: #A1B1BC;
}

.page7-navigation nav ul li:not(:first-child) {
    margin-left: 31px;
}

.page7-navigation nav ul li .page7-span {
    color: #1ABC9C;
}

.page7-navigation nav ul li:nth-child(3) {
    margin-left: 32.5px;
}

.page7-navigation nav ul li:nth-child(4) {
    margin-left: 33px;
}

.page7-navigation nav ul li:nth-child(5) {
    margin-left: 32.1px;
}

.page7-navigation nav ul li:nth-child(6) {
    margin-left: 32.2px;
}

.page7-navigation nav ul li:nth-child(7) {
    margin-left: 33px;
}

.page7-navigation nav ul li:nth-child(8) {
    margin-left: 32px;
}

.page7-navigation nav ul li:nth-child(9) {
    margin-left: 32px;
}

#Sort-by-Date {
    background: #ECF0F1;
    border-radius: 6px;
    border: none;
    color: #2C3E50;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: 8%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.page7-button {
    margin-left: 11.75%;
}

.boxes {
    margin-top: 80px;
}

.page7-col-1 {
    display: flex;
}

.page7-col-1 div {
    width: 292px;
    height: 200px;
    background: #ECF0F1;
}

.page7-col-1 div:nth-child(2),
.page7-col-1 div:nth-child(4) {
    background: #A1B1BC;
}

.page7-col-2 {
    display: flex;
}

.page7-col-2 div {
    width: 292px;
    height: 200px;
    background: #ECF0F1;
}

.page7-col-2 div:nth-child(1) {
    background: #A1B1BC;
}

.page7-sub-div div:first-child {
    width: 292px;
    height: 130px;
    background: #2C3E50;
}

.page7-sub-div div:first-child div span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    line-height: 19px;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color: white;
}

.page7-sub-sub-box {
    padding-top: 53px;
    padding-left: 1px;
}

.page7-sub-div div:first-child img {
    width: 22px;
    height: 8px;
    transform: translate(134.5px, 50px);
    position: absolute;
}

.page7-sub-div div:nth-child(2) {
    width: 292px;
    height: 70px;
    background: white;
}

.page7-sub-sub-div2 span:first-child {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1.5px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    color: #2C3E50;
    padding-left: 4.95%;
    margin-top: 15.95px;
    position: absolute;
}

.page7-sub-sub-div2 span:last-child {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 1.2px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #A1B1BC;
    padding-left: 8.2%;
    margin-top: 36px;
    position: absolute;
}


/* ....page8.... */

.page8 {
    transform: translate(0px, 333px);
    background: #ECF0F1;
}

.page8-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translate(0, 100px);
}

.page8-header-text h5 {
    font-size: 36px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2C3E50;
    margin-top: 2px;
}

.page8-header-text p {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #A1B1BC;
    margin-top: -37px;
}

.page8-inline-div {
    width: 1170px;
    height: 146px;
    background: white;
    border-radius: 1px;
    border: none;
    transform: translate(375px, 150px);
}

.page8-inline-div {
    font-size: 18px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #A1B1BC;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page8-circle {
    width: 112px;
    height: 112px;
    background: white;
    border-radius: 50%;
    position: relative;
    transform: translate(905px, 186.5px);
}

.page8-circle div {
    width: 100px;
    height: 100px;
    background: #A1B1BC;
    border-radius: 50%;
    position: absolute;
    margin: 5.5% 5.5%;
}

.page8-text-under-circle {
    width: 108.9px;
    height: 47px;
    transform: translate(910px, 184px);
}

.page8-text-under-circle p:first-child {
    font-size: 18px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #2C3E50;
    margin-left: 2px;
}

.page8-text-under-circle p:last-child {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #A1B1BC;
    margin-left: -3px;
    margin-top: -16.3px;
}

.page8-radio {
    transform: translate(919px, 232px);
}

.page8-radio input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 14px;
    height: 14px;
    padding: 3px;
    background-clip: content-box;
    background: #FFFFFF;
    border-radius: 50%;
    margin-left: 3px;
}

.page8-radio input[type="radio"]:checked {
    background-color: #1ABC9C;
    width: 14px;
    height: 14px;
    border: 4px solid #FFFFFF;
    padding: 1px;
}


/* .....page9..... */

.page9 {
    background: #222533;
    transform: translate(0, 333.2px);
}

.page9-sections {
    height: 780px;
}

.page9-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translate(0, 102px);
}

.page9-header-text h5 {
    font-size: 36px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    margin-top: 2px;
}

.page9-header-text h5 span {
    color: #26E2BD;
    font-weight: 400;
}

.page9-header-text p {
    font-size: 15px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #E8E8E8;
    margin-top: -41.5px;
    margin-left: -2.5px;
}

.page-9-section-1 {
    width: 300px;
    height: 470px;
    transform: translate(429px, 214px);
}

.page9-sub-div {
    display: flex;
}

.page9-sub-div p {
    font-size: 18px;
    line-height: 21px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
}

.page9-sub-div div {
    width: 50px;
    height: 50px;
    background: #1FDAB5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 15px;
    margin-top: 5px;
}

.page9-text-div {
    width: 299.2px;
    height: auto;
    margin-left: -54px;
}

.page9-text-div p {
    text-align: right;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
    margin-top: 4.5px;
}

.page9-col-2 {
    transform: translate(27.5px, 18px);
}

.page9-col-2 .page9-text-div {
    margin-left: -81.5px;
    margin-top: 5px;
}

.page9-col-3 {
    transform: translate(33px, 36px);
}

.page9-col-3 .page9-text-div {
    margin-left: -87px;
    margin-top: 5px;
}

.page9-phone-box {
    width: 446px;
    height: 650px;
    background: #A1B1BC;
    transform: translate(737.5px, -341px);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border: none;
}

.page-9-section-3 {
    transform: translate(1230px, -906px);
}

.page-9-section-3 .page9-row-3-col-1 .page9-sub-div p {
    margin-left: 11px;
}


/* .align {
    width: 380px;
}

.align p {
    text-align: left !important;
    margin-left: 60px;
} */

.page9-text-div-row-3 {
    width: 299.2px;
    height: auto;
    margin-left: 15px;
}

.page9-text-div-row-3 p {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
    margin-top: 4.5px;
}

.page9-row-3-col-2 {
    transform: translate(0px, 18px);
}

.page9-row-3-col-2 .page9-sub-div p {
    margin-left: 10.5px;
}

.page9-row-3-col-2 .page9-text-div-row-3 {
    margin-left: 15px;
    margin-top: 5px;
}

.page9-row-3-col-3 {
    transform: translate(0px, 36px);
}

.page9-row-3-col-3 .page9-sub-div p {
    margin-left: 10.5px;
}

.page9-row-3-col-3 .page9-text-div-row-3 {
    margin-left: 15px;
    margin-top: 5px;
}


/* ...page10.... */

.page10 {
    transform: translate(374px, 420px);
}

.page10-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translate(1px, 14px);
}

.page10-header-text h5 {
    font-size: 36px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2C3E50;
    margin-top: 2px;
}

.page10-header-text p {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #A1B1BC;
    margin-top: -42.5px;
    margin-left: -1.5px;
}


/* .....flex-container */

.page10-containers {
    display: flex;
    margin-top: 81.5px;
}


/* .page10-container-1{
    margin-top: ;
} */

.page10-container-1 div:nth-child(1) p {
    font-size: 24px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #A1B1BC;
}

.page10-container-1 div:nth-child(1) {
    width: 293px;
    height: 152px;
    background: #EAEBEC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page10-container-1 div:not(:first-child) {
    width: 292px;
    height: 39px;
    background: #EAEBEC;
}

.page10-container-1 div:not(:first-child) p {
    font-size: 14px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #686D80;
    padding: 0;
    margin: 0;
    text-align: center;
}

.page10-container-1 div:nth-child(2) p {
    margin-top: 1px;
}

.page10-container-1 div:nth-child(3) p {
    margin-top: 2px;
}

.page10-container-1 div:nth-child(4) p {
    margin-top: 1px;
}

.page10-container-1 div:nth-child(5) p {
    margin-top: 1px;
}

.page10-container-1 div:nth-child(6) p {
    margin-top: 1px;
}

.page10-container-1 div:nth-child(7) p {
    margin-top: 1px;
}

.page10-container-1 div:last-child {
    height: 84px;
}

.background-F6F6F6 {
    background: #F6F6F6 !important;
}

.page10-container-2 div:first-child {
    width: 292px;
    height: 64px;
    background: #34495E;
}

.page10-container-2 div:first-child p {
    font-size: 24px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 8.5%;
}

.page10-container-2 div:nth-child(2) {
    width: 292px;
    height: 88px;
    background: linear-gradient(to right, #1FD1B4, #45D1FE);
}

.page10-container-2 div:nth-child(2) p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 48px;
    line-height: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    padding-top: 29px;
}

.page10-container-2 div:nth-child(2) span {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
}

.page10-container-2 div p {
    padding: 0;
    margin: 0;
}

.page10-container-2 div:nth-child(3) {
    background: #ECF0F1;
    width: 292px;
    height: 39px;
    margin-top: 1px;
}

.page10-container-2 div:nth-child(3) p {
    font-size: 14px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #686D80;
    text-align: center;
}

.page10-container-2 div:nth-child(4) {
    background: #EAEBED;
    width: 292px;
    height: 39px;
    margin-top: 1px;
}

.page10-container-2 div:nth-child(4) p {
    font-size: 14px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #686D80;
    text-align: center;
}

.page10-container-2 div:nth-child(5) {
    background: #ECF0F1;
    width: 292px;
    height: 39px;
    margin-top: 1px;
}

.page10-container-2 div:nth-child(5) p {
    font-size: 14px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #686D80;
    text-align: center;
}

.page10-container-2 div:nth-child(6) {
    background: #EAEBED;
    width: 292px;
    height: 39px;
    margin-top: 1px;
}

.page10-container-2 div:nth-child(6) p {
    font-size: 14px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #686D80;
    text-align: center;
}

.page10-container-2 div:nth-child(7) {
    background: #ECF0F1;
    width: 292px;
    height: 39px;
    margin-top: 1px;
}

.page10-container-2 div:nth-child(7) p {
    font-size: 16px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #EF584D;
    text-align: center;
}

.page10-container-2 div:nth-child(8) {
    background: #EAEBED;
    width: 292px;
    height: 39px;
    margin-top: 1px;
}

.page10-container-2 div:nth-child(8) p {
    font-size: 16px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #7BC200;
    text-align: center;
}

.page10-container-2 div:nth-child(9) {
    height: 84px;
    background: #ECF0F1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page10-container-2 div:nth-child(9) #order {
    background: #1ABC9C;
    width: 120px;
    height: 35px;
    border-radius: 1px;
    border: none;
    color: white;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: center;
}

.page10-container-2 div:nth-child(9) #order1 {
    background: #1ABC9C;
    width: 120px;
    height: 35px;
    border-radius: 1px;
    border: none;
    color: white;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: center;
}

.page10-container-2 div:nth-child(9) input {
    padding-bottom: 5px;
}


/* --------- */

.page10-container-3 div p {
    margin: 0;
    padding: 0;
}

.page10-container-3 {
    margin-left: 1px;
}

.page10-container-3 div:first-child {
    position: absolute;
    width: 292px;
    height: 81px;
    background: #34495E;
    margin-top: -16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page10-container-3 div:first-child p {
    font-size: 24px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-top: 1px;
}

.page10-container-3 div:nth-child(2) {
    width: 292px;
    height: 88px;
    background: linear-gradient(to right, #1FD1B4, #45D1FE);
    margin-top: 64px;
}

.page10-container-3 div:nth-child(2) p {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 48px;
    line-height: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    padding-top: 29px;
}

.page10-container-3 div:nth-child(2) span {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
}

.page10-container-3 div:nth-child(3) {
    background: #ECF0F1;
    width: 292px;
    height: 39px;
    margin-top: 1px;
}

.page10-container-3 div:nth-child(3) p {
    font-size: 14px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #686D80;
    text-align: center;
}

.page10-container-3 div:nth-child(4) {
    background: #ECF0F1;
    width: 292px;
    height: 39px;
    margin-top: 1px;
}

.page10-container-3 div:nth-child(4) p {
    font-size: 14px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #686D80;
    text-align: center;
}

.page10-container-3 div:nth-child(5) {
    background: #ECF0F1;
    width: 292px;
    height: 39px;
    margin-top: 1px;
}

.page10-container-3 div:nth-child(5) p {
    font-size: 14px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #686D80;
    text-align: center;
}

.page10-container-3 div:nth-child(6) {
    background: #ECF0F1;
    width: 292px;
    height: 39px;
    margin-top: 1px;
}

.page10-container-3 div:nth-child(6) p {
    font-size: 14px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #686D80;
    text-align: center;
}

.page10-container-3 div:nth-child(7) {
    background: #ECF0F1;
    width: 292px;
    height: 39px;
    margin-top: 1px;
}

.page10-container-3 div:nth-child(7) p {
    font-size: 16px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #7BC200;
    text-align: center;
}

.page10-container-3 div:nth-child(8) {
    background: #EAEBED;
    width: 292px;
    height: 39px;
    margin-top: 1px;
}

.page10-container-3 div:nth-child(8) p {
    font-size: 16px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #7BC200;
    text-align: center;
}

.page10-container-3 div:nth-child(9) {
    height: 84px;
    background: #ECF0F1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page10-container-3 div:nth-child(9) #order-black {
    background: #3A3E4A;
    width: 120px;
    height: 35px;
    border-radius: 1px;
    border: none;
    color: white;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-align: center;
}

.page10-container-2 div:nth-child(9) input {
    padding-bottom: 5px;
}

.margin-left-page10 {
    margin-left: 1px;
}


/* ......page11..... */

.page11 {
    display: flex;
    border: 1px solid #EAEBEC;
    transform: translate(374px, 520px);
}

.page11 div:first-child {
    width: 10px;
    height: 140px;
    background: #1ABC9C;
    margin-top: 5px;
    margin-left: 5px;
}

.page11 div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
}

.page11 div:nth-child(2) p {
    margin: 0;
    padding: 0;
}

.page11 div:nth-child(2) p:first-child {
    width: 445px;
    height: 32px;
    font-size: 24px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2C3E50;
    margin-top: -1px;
    margin-left: 0.5px;
}

.page11 div:nth-child(2) p:last-child {
    width: 823.5px;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #A1B1BC;
    padding-top: 1.5px;
}


/*  */

.page11 div:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 75px;
}

.page11 div:nth-child(3) #order-big-btn {
    background: #1ABC9C;
    width: 176px;
    height: 52px;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-align: center;
}

.page11 div:nth-child(3) input {
    padding-bottom: 2px;
}


/* ....page12..... */

.page12 {
    transform: translate(0, 620px);
    background: #ECF0F1;
}

.page12-first-section {
    width: 1920px;
    height: 632px;
    display: flex;
    transform: translate(375px, 101px);
}

.page12-left-container {
    width: 544px;
    height: 542px;
}


/* ..... */

.page12-right-container header {
    transform: translate(55px, 30px);
}

.page12-right-container header p {
    font-size: 36px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2C3E50;
}

.right-container-top {
    display: flex;
}

.right-container-top-sub-div {
    display: flex;
    transform: translate(56px, 48px);
}

.right-container-top-sub-div div {
    width: 35px;
    height: 40px;
}

.right-container-top-sub-div p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin-left: 9px;
    margin-top: -1px;
}

.page12-text {
    height: 95px;
    transform: translate(56px, 47px);
}

.page12-text p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #A1B1BC;
    width: 270px;
    text-align: left;
    letter-spacing: 0px;
    margin-top: 9px;
    padding-bottom: 20px;
}

.page12-text p:last-child {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #1ABC9C;
    letter-spacing: 0;
    margin-top: -14px;
    margin-left: -0.5px;
}

.right-container-top-right-box {
    margin-left: 30px;
}

.right-container-bottom {
    display: flex;
    margin-top: 48px;
}

.page12-second-section {
    width: 1920px;
    height: 632px;
    display: flex;
    transform: translate(319px, 42px);
}

.mockuo {
    width: 558px;
    height: 441px;
    transform: translate(102px, 62px);
}


/* .....page13...... */

.page13 {
    transform: translate(373px, 704.45px);
}

.page13-header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform: translate(1px, 14px);
}

.page13-header-text h5 {
    font-size: 36px;
    line-height: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2C3E50;
    margin-top: 2px;
}

.page13-header-text p {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #A1B1BC;
    margin-top: -38px;
    margin-left: -1.5px;
}


/* containers */

.page13-top-containers {
    display: flex;
    margin-top: 46.8px;
    margin-left: 1.5px;
}

.page13-top-container1 {
    display: flex;
}

.page13-top-container1 div:first-child {
    width: 170px;
    height: 200px;
    background: #CCCCCC;
}

.page13-top-container1 div:nth-child(2) {
    width: 181.23px;
    margin-top: -5.5px;
    margin-left: 19.5px;
}

.page13-top-container1 div:nth-child(2) p:first-child {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #2C3E50;
}

.page13-sub-div-in-text {
    display: flex;
    margin-top: 10px;
}


/* .page13-sub-div-in-text:first-child {
    margin-left: -30px;
    margin-top: 20px;
} */

.page13-margin {
    margin-top: 13px !important;
    margin-left: 1px !important;
}

.page13-sub-div-in-text p {
    margin: -3.5px 0 0 10.5px;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #A1B1BC;
}

.page13-sub-div-in-text i {
    color: #1ABC9C;
    font-size: 15px;
}

.page13-p2 {
    margin-left: 9.5px !important;
}

.page13-p3 {
    margin-left: 13.5px !important;
    margin-top: -4px !important;
}

.page13-color {
    background: #2C3E50 !important;
}

.container-margin2 {
    margin-left: 30px !important;
}

.page13-botoom-containers {
    display: flex;
    margin-top: 50px;
    margin-left: 1.5px;
}


/* ....page14.... */

.page14 {
    background: rgb(47, 49, 61);
    transform: translate(0, 717px);
}

.page14-left-section {
    transform: translate(371.36px, 100px);
}

.page14-left-section header p {
    font-size: 36px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    margin: 0;
    padding: 0;
}

.navigation-with-list {
    width: 570px;
    margin-top: 47.5px;
    margin-left: 3px;
}

.navigation-with-list p {
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
    margin: 0;
    padding: 0;
}

.page14-imgs {
    margin-top: 16px;
    margin-left: 1px;
}

.page14-imgs img:first-child {
    width: 24px;
    height: 19.66px;
    color: #16B5D8;
    position: absolute;
    margin-left: 43px;
    margin-top: 3px;
}

.page14-table {
    margin-top: 4px;
}

.form-control td input {
    width: 548px;
    height: 45px;
    background: initial;
    border-radius: 3px;
    border: 1px solid#636372;
    font-size: 15px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
    padding-left: 20px;
    margin-top: 17px;
}

.form-control input::placeholder {
    font-size: 15px;
    line-height: 30px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
}

#textarea {
    width: 565px;
    height: 92px;
    background: initial;
    border-radius: 3px;
    border: 1px solid#636372;
    margin-top: 18px;
}

#GET-STARTED-NOW {
    width: 570px;
    height: 56px;
    background: #1ABC9C;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    line-height: 60px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: white;
    margin-top: 14px;
    padding-top: -20px;
}


/* ... */

.page14 {
    display: flex;
}

.page14-right-section {
    width: 562px;
    height: 550.8px;
    transform: translate(395.36px, 100px);
}

.page14-right-section header p {
    font-size: 36px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: white;
    margin: 0;
    padding: 0;
}

.page14-box-text div:first-child {
    width: 125px;
    height: 125px;
    background: white;
    border: none;
    border-radius: 5px;
    margin-top: 3px;
    margin-left: 2px;
}

.page14-box-text {
    display: flex;
    margin-top: 50px;
}

.page14-box-text div:nth-child(2) {
    margin-left: 19px;
    margin-top: -2px;
}

.page14-box-text div:nth-child(2) p:first-child {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: white;
}

.page14-box-text div:nth-child(2) p:last-child {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: white;
    margin-top: 6px;
}

.page14-box-text div:nth-child(2) span {
    font-size: 14px;
    font-weight: 400;
}

#page14-plus {
    width: 115px;
    height: 115px;
    background: initial;
    border: 5px solid white;
}

#page14-plus p {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 24px;
    text-align: center;
    margin-top: 35%;
}

.page14-margin {
    margin-top: 37px !important;
    margin-left: 0px !important;
}

.page14-under-boxes {
    display: flex;
    margin: 33px 0 0 2px;
}

.page14-under-boxes div {
    width: 10px;
    height: 10px;
    background: white;
}

.page14-under-boxes div:nth-child(2) {
    background: #1BEAC1;
}

.page14-under-boxes div:not(:first-child) {
    margin-left: 6px;
}


/* ......page15... */

.page15 {
    transform: translate(0, 701px);
    background: #222533;
}

.page15 nav ul {
    display: flex;
    align-items: center;
    margin-left: 327px;
}

.page15 nav ul li {
    list-style: none;
    margin-left: 52px;
    margin-top: 36px;
}

.page15 nav ul li img {
    /* width: 14px;
    height: 22.01px; */
    object-fit: contain;
}

.page15 nav ul li:nth-child(2) {
    margin-left: 76px;
}

.page15 nav ul li:nth-child(3) {
    margin-left: 74px;
}

.page15 nav ul li:nth-child(4) {
    margin-left: 79px;
}

.page15 nav ul li:nth-child(5) {
    margin-left: 79px;
}

.page15 nav ul li:nth-child(6) {
    margin-left: 76px;
    margin-top: 40px;
}

.page15 nav ul li:nth-child(7) {
    margin-left: 74px;
    margin-top: 36px;
}

.page15 nav ul li:nth-child(8) {
    margin-left: 74px;
    margin-top: 39px;
}

.page15 nav ul li:nth-child(9) {
    margin-left: 73px;
    margin-top: 38px;
}

.page15 nav ul li:nth-child(10) {
    margin-left: 77px;
    margin-top: 35px;
}

.page15 nav ul li:nth-child(11) {
    margin-left: 82px;
    margin-top: 36px;
}

.page15 nav ul li:nth-child(12) {
    margin-left: 74px;
    margin-top: 37px;
}


/* ......page16.... */

.page16 {
    display: flex;
    flex-direction: column;
    transform: translate(0, 700px);
    background: #1A1C28;
}

.page16-about-us {
    display: flex;
    transform: translate(375px, 97px);
}

.page16-about-us div:first-child {
    width: 5px;
    height: 18px;
    background: #1ABC9C;
    margin-top: 3px;
}

.page16-about-us p {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin-left: 20px;
    word-spacing: 0.5px;
}

.page16-about-us span {
    font-weight: 300;
}

.page16-thefox {
    display: flex;
    transform: translate(354.09px, 172px)
}

.page16-thefox p {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 59.49px;
    line-height: 13.77px;
    margin-left: 20px;
    word-spacing: 0.5px;
}

.page16-thefox span {
    color: #1ABC9C;
    font-weight: 900;
}

.page16-thefox img {
    width: 18px;
    height: 20px;
    margin-top: -16px;
    margin-left: 7px;
}

.page16-text {
    width: 370.26px;
    height: auto;
    transform: translate(375.74px, 216px);
}

.page16-text p {
    margin: 0;
    padding: 0;
    color: #A1B1BC;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.page16-search {
    display: flex;
    transform: translate(375px, 245px);
}

.page16-search input {
    background: rgb(34, 37, 52);
    width: 318px;
    height: 50px;
    border: none;
    border-radius: 3px;
}

.page16-search input::placeholder {
    padding-left: 27px;
    color: #A1B1BC;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.page16-search label div {
    width: 50px;
    height: 50px;
    background: #1ABC9C;
    border-radius: 3px;
    border: none;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
    margin-top: -1px;
}

.page16-middle {
    transform: translate(775px, -76px);
}

.page16-middle-boxes {
    display: flex;
    width: 368.8px;
    height: 101.88px;
    margin-top: -24px;
}

.page16-middle-boxes p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 27px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #A1B1BC;
    margin-left: 20px;
    margin-top: -9px;
}

.page16-middle-boxes div {
    width: 90px;
    height: 90px;
    background: white;
}


/* .. */

.page16-Featured-News {
    display: flex;
    transform: translate(0, -81px);
}

.page16-Featured-News div:first-child {
    width: 5px;
    height: 18px;
    background: #1ABC9C;
    margin-top: 3px;
}

.page16-Featured-News p {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    margin-left: 20px;
    word-spacing: 0.5px;
}

.page16-Featured-News span {
    font-weight: 300;
}

.page16-middle div:nth-child(3) {
    margin-top: 19px;
}

.page16-middle div:nth-child(3) div:first-child {
    background: #1ABC9C;
}

.page16-middle div:nth-child(3) div:first-child p:first-child {
    margin: 0;
    padding: 0;
    font-size: 72px;
    line-height: 27px;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top: 30%;
}

.page16-middle div:nth-child(3) p:last-child {
    color: white;
}

.page16-middle div:nth-child(4) {
    margin-top: 18px;
}


/* ... */

.right-container {
    transform: translate(1174px, -418px);
}

.page16-grid {
    margin: 0;
    box-sizing: border-box;
    padding: 2px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 85px);
    grid-template-rows: repeat(3, 85px);
    height: 275px;
    width: 370px;
    align-content: start;
    margin-top: -25px;
    margin-left: -1px;
}

.page16-grid div {
    background: white;
}

.page16-grid div:nth-child(6) {
    background: #D0D7DD;
    box-shadow: 3px 3px 1px white, -3px -3px 1px white, -3px 3px 1px white, 3px -3px 1px white;
}

.more-photo p {
    margin: 0;
    padding: 0;
    color: #1ABC9C;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    margin-top: 25px;
}


/* ....footer..... */

.footer {
    background: #222533;
    transform: translate(0, 694px);
}

.footer-fox-text {
    display: flex;
    transform: translate(374.5px, 32px);
}

.footer-fox-text img {
    width: 18px;
    height: 20px;
}

.footer-fox-text p {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-left: 20px;
    margin-top: -4px;
}

.footer-fox-text span {
    color: #1ABC9C;
}


/* ...... */

.footer-navigation ul {
    display: flex;
    transform: translate(1073px, -5px);
}

.footer-navigation ul li {
    list-style: none;
    color: #A1B1BC;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.footer-navigation ul li:not(:first-child) {
    margin-left: 29px;
}

.footer-navigation ul li:nth-child(2) {
    color: #1ABC9C;
}